<div class="main-header">
  <svg icon="sidebar" class="sidebar-open-svg" (click)="openSidebar()"></svg>
  <nav>
    <a
      [routerLink]="['/home']" routerLinkActive="active">
      <svg icon="company" class="company-svg"></svg>
    </a>
  </nav>

  @if(isSidebarOpen){
    <div class="overlay" (click)="closeSidebar()"></div>
  }
  <aside class="sidebar" [class.open]="isSidebarOpen" (click)="$event.stopPropagation()">
    <svg icon="svg3" class="sidebar-close-svg" (click)="closeSidebar()"></svg>
    <app-sidebar></app-sidebar>
  </aside>
  <nav>
    <ul class="menu">
      <li class="menu-item" (mouseenter)="openDropdown('Noticias')" (mouseleave)="closeDropdown()">
        Noticias
        <svg icon="dropdown" class="dropdown-svg"></svg>
        @if(activeDropdown === 'Noticias'){
          <div class="dropdown">
            <a [routerLink]="['/news']">Nacionales</a>
            <a [routerLink]="['/login']">Tu Decisión 2024</a>
            <a [routerLink]="['/info']">Resultados Elecciones Generales 2024</a>
            <a [routerLink]="['/info']">Mundo</a>
            <a [routerLink]="['/info']">Exclusivo</a>
            <a [routerLink]="['/info']">Videos</a>
            <a [routerLink]="['/info']">Bien Chequeado</a>
          </div>
        }
      </li>
      <li class="menu-item">
        <nav>
          <a
            [routerLink]="['/info']" routerLinkActive="active">Show TVN</a>
        </nav>
      </li>
      <li class="menu-item" (mouseenter)="openDropdown('Deportes')" (mouseleave)="closeDropdown()">
        Deportes
        <svg icon="dropdown" class="dropdown-svg"></svg>
        @if (activeDropdown === 'Deportes') {
          <div class="dropdown">
            <a [routerLink]="['/info']">Béisbol Nacional</a>
            <a [routerLink]="['/info']">LPF</a>
            <a [routerLink]="['/info']"> Somos La Sele</a>
            <a [routerLink]="['/info']">Fútbol Internacional</a>
            <a [routerLink]="['/info']">Béisbol Internacional</a>
            <a [routerLink]="['/info']">Más Deportes</a>
          </div>
        }
      </li>
      <li class="menu-item">
        <nav>
          <a
            [routerLink]="['/info']" routerLinkActive="active">TVN Radio</a>
        </nav>
      </li>
      <li class="menu-item" (mouseenter)="openDropdown('Contenidos Especiales')" (mouseleave)="closeDropdown()">
        Contenidos Especiales
        <svg icon="dropdown" class="dropdown-svg"></svg>
        @if (activeDropdown === 'Contenidos Especiales'){
          <div class="dropdown">
            <a [routerLink]="['/info']">Tu Hogar</a>
            <a [routerLink]="['/info']">Regreso a Clases</a>
            <a [routerLink]="['/info']">Nos Fuimos</a>
            <a [routerLink]="['/info']">Mundo Verde</a>
            <a [routerLink]="['/info']">Gente Que Inspira</a>
          </div>
        }
      </li>
      <li class="menu-item">
        <nav>
          <a
            [routerLink]="['/info']" routerLinkActive="active">Novelas</a>
        </nav>
      </li>
      <li class="menu-item" (mouseenter)="openDropdown('Programas')" (mouseleave)="closeDropdown()">
        Programas
        <svg icon="dropdown" class="dropdown-svg"></svg>
        @if (activeDropdown === 'Programas'){
          <div class="dropdown" >
            <a [routerLink]="['/info']">Canta Conmigo</a>
            <a [routerLink]="['/info']">La Máscara</a>
            <a [routerLink]="['/info']">Héroes Por Panamá</a>
            <a [routerLink]="['/info']">Documental Panamá</a>
            <a [routerLink]="['/info']">De Frente con Sabrina Bacal</a>
            <a [routerLink]="['/info']">Lotería</a>
            <a [routerLink]="['/info']">Jelou</a>
            <a [routerLink]="['/info']">Hecho En Panamá</a>
            <a [routerLink]="['/info']">Mesa De Periodistas</a>
            <a [routerLink]="['/info']">Radar</a>
          </div>
        }
      </li>
    </ul>
  </nav>
  <div class="to-search-nav">
    <nav>
      <a [routerLink]="['/order']" routerLinkActive="active" >
        <svg icon="search" class="to-search"></svg>
      </a>
    </nav>
  </div>
</div>
