<div class="new-content">
  <h1>Последняя</h1>
  <div class="nav-contend">
    <nav class="nav1">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Результаты плей-офф НБА 2025 года | Knicks и Nuggets ошеломляют Celtics и Thunder
      </a>
    </nav>
    <nav class="nav2">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Результаты MLB: «Доджерс» догоняют «Марлинс», а Фредди Фримен набирает 350 хоумранов
      </a>
    </nav>
    <nav class="nav3">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Арестован судья, отменивший ордер на арест Эво Моралеса в Боливии
      </a>
    </nav>
    <nav class="nav4">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Более 2000 модераторов контента, работающих на Meta в Испании, будут уволены.
      </a>
    </nav>
  </div>
</div>
