:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-content{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-top: 1px solid black ;
  width: 65%;
}
.nav-contend{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
nav{
  display: flex;
  position: relative;
  align-items: end;
  width: 280px;
  height: 150px;
}
.nav-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;

}
a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  z-index: 2;
  padding: 20px;

}
.nav1{
  background-image: url("/img/new-content 1.webp");
  background-size: cover;
  opacity: 1;

  &:hover{
    opacity: 0.6;
  }

}
.nav2{
  background-image: url("/img/new-content 2.webp");
  background-size: cover;

  &:hover{
    opacity: 0.6;
  }
}
.nav3{
  background-image: url("/img/new-content 3.webp");
  background-size: cover;

  &:hover{
    opacity: 0.6;
  }
}
.nav4{
  background-image: url("/img/new-content 4.webp");
  background-size: cover;

  &:hover{
    opacity: 0.6;
  }
}

