
<div class="similar-news">
  <span class="legend">Noticias relacionadas</span>
      <ul>
        <li>
        <nav>
          <a
            [routerLink]="['/info']" routerLinkActive="active" >
            Дело Этеса | Что такое взаимное соглашение и в каких случаях оно применяется? Здесь мы вам это объясним
          </a>
        </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Правительство потратило более 1 миллиарда долларов во время чрезвычайного положения из-за пандемии COVID-19.
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Транснациональные корпорации призывают Японию утроить объем возобновляемой энергии к 2035 году
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кенийский контингент отправляется на Гаити для сдерживания бандитизма
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кубок Америки 2024 | Неймар отчаялся на трибунах из-за игры сборной Бразилии
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кубок Америки 2024 | Бразилия проигрывает Коста-Рике, которая хорошо обороняется
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кубок Америки 2024 | Турнирная таблица и лучшие бомбардиры после дебютов всех команд
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              ВВП Аргентины упал на 5,1% в годовом исчислении в первом квартале 2024 года
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кубок Америки 2024 | Тренер Гарнеро хвалит игру Хамеса Родригеса против парагвайцев.
            </a>
          </nav>
        </li>
        <li>
          <nav>
            <a
              [routerLink]="['/info']" routerLinkActive="active" >
              Кубок Америки 2024 | По словам Лоренцо, Колумбия «вполне заслужила победу».
            </a>
          </nav>
        </li>
      </ul>
</div>
