<div class="footer">
  <div class="social-links">
  <div class="social-networks">
    <h2>Подписывайтесь на нас:</h2>
    <div class="social-nav">
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">
        <svg icon="facebook" class="nav-icon"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">
        <svg icon="twitter" class="nav-icon"></svg>
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">
        <svg icon="whatsapp" class="nav-icon"></svg>
      </a>
    </nav>
    </div>
  </div>
  <div class="nav-to-app">
    <h2>Откройте для себя наши приложения:</h2>
    <svg icon="facebook" class="nav-icon"></svg>
    <svg icon="twitter" class="nav-icon"></svg>
  </div>
  </div>
  <div class="site-information">
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">Люди ТВН</a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">политика конфиденциальности</a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">Условия эксплуатации</a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">О ТВН</a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">Связаться с нами</a>
    </nav>
  </div>
  <div class="site-logo">
    <nav>
      <a
        [routerLink]="['/info']" routerLinkActive="active">
        <svg icon="facebook" class="nav-icon"></svg>
      </a>
    </nav>
    <p>© Национальное телевидение, SA 2024, все права защищены</p>
  </div>
</div>
