<div class="main-content">
<h1>В состав Национальной ассамблеи войдут 70 из 71 депутата. Что будет с пропавшим?</h1>
<h2>Как объявил судья Луис Герра, как только это дело будет рассмотрено на слушаниях и мандат будет предоставлен, Избирательный трибунал закроет избирательный процесс.</h2>
<figure>
  <img  src="/img/main-content.png" alt="Пленарное заседание Национального собрания / TVN" class="news-img">
  <figcaption class="img-figcaption">Пленарное заседание Национального собрания / TVN</figcaption>
</figure>
  <div class="author-tags">
  <nav>
    <a
      [routerLink]="['/info']" routerLinkActive="active" class="author-name">
      <strong>Аминта Бустаманте</strong>
    </a>
  </nav>
      <div class="author">
      <svg icon="twitter" class="author-icon"></svg>
      <nav>
        <a
          [routerLink]="['/info']" routerLinkActive="active" class="nav-id"> &commat;anaisht01 </a>
      </nav>
  </div>
  <span class="date">{{ publishDate | date: 'dd MMMM yyyy' }}</span>
    <div class="tags">
    @if(isIconOpen){
      <div class="overlay" (click)="closeIcon()">
      <svg icon="facebook" class="nav-icon"></svg>
      <svg icon="twitter" class="nav-icon"></svg>
      <svg icon="whatsapp" class="nav-icon" ></svg>
      <svg icon="linkedin" class="nav-icon"></svg>
      <svg icon="telegram" class="nav-icon"></svg>
      <svg icon="copy" class="nav-icon"></svg>
      <div class="close-svg-btn">
      <svg icon="svg2" class="tags-btn-close" (click)="closeIcon()"></svg>
      </div>
      </div>
    } @else {
      <svg icon="facebook" class="nav-icon"></svg>
      <svg icon="twitter" class="nav-icon"></svg>
      <svg icon="whatsapp" class="nav-icon"></svg>
      <svg icon="svg1" class="tags-btn-open" (click)="openIcon()"></svg>
    }
  </div>
  <div class="main-page-text">
    <p>Панама/ Это официально. Новое Национальное собрание на период 2024–2029 годов будет открыто в следующий понедельник, и в его состав войдут 70 из 71 избранного депутата.</p>
    <p>Это произошло после того, как апелляционное слушание в округе 8-2, Сан-Мигелито , было назначено на 3 июля следующего года. То есть через два дня после учреждения Ассамблеи, которая состоится 1 июля.</p>

    <p>В этой борьбе за последнее место в Сан-Мигелито участвует Луис Омар Ортега , избранный депутат Реалисандо Метас , чье провозглашение было оспорено нынешним депутатом Сулаем Родригесом .</p>

    <p> Второй административный суд Избирательного трибунала во главе с Эдмарой Хаэн Хаэн будет отвечать за принятие решения о назначении новых выборов. Иск, поданный Родригесом против провозглашения, основан на предполагаемых нарушениях, зафиксированных в девяти записях о регистрации избирателей на последних выборах 5 мая.</p>

    <p>Родригес, баллотировавшаяся как независимый кандидат, чтобы сохранить место, которое она занимала в законодательном периоде, который скоро закончится, в качестве депутата от Демократической революционной партии (PRD) , утверждает, среди прочего, что у нее отобрали голоса.</p>

    <p> В связи с этим суд принял решение об удовлетворении иска о частичной отмене результатов выборов в части подсчета голосов, зафиксированных в протоколах избирательных участков №№ 4672, 4682, 4757, 4815, 4818, 4894, 4902, 4916 и 5114.</p>

    <p>Кроме того, судья рассмотрел записку от 14 июня 2024 года, подписанную Дельсидией Фернандес Домингес, региональным директором Избирательной организации Сан-Мигелито , в которой указаны имена и идентификационные номера девяти сертифицированных бухгалтеров, членов Окружной контрольной комиссии округа 8-2.</p>

    <p>Он также запросил имена и идентификационные номера вспомогательного персонала, ответственного за сканирование и загрузку официальных записей в систему передачи неофициальных результатов, а также имена и идентификационные номера лиц, поддерживающих связь Избирательного трибунала с печатной платой, среди другой информации.</p>

    <p>По крайней мере, так говорится в доказательственном решении, к которому имелся доступ этот источник, согласно которому ни одна из сторон не решила подать апелляцию с целью ускорения даты слушания.</p>

    <p> В округе 8-2 5 мая Рауль Пинеда из Демократической революционной партии был провозглашен депутатом; Луис Эдуардо Камачо и Луис Омар Ортега из Realizing Goals; и Эдуардо Гайтан, Луис Дьюк, Александра Бренес и Ярелис Родригес от коалиции Вамос.</p>

    <p> Следует отметить, что как только это дело будет рассмотрено на слушаниях и мандат будет принят, Избирательный трибунал закроет избирательный процесс, объявил судья Луис Герра .</p>
  <h3>Это имена депутатов, которые вступят в должность 1 июля.</h3>
    <p>Этот порядок дается в зависимости от количества представителей каждой группы. Вчера, в понедельник, депутаты провели тесты, чтобы определить, какие места им предстоит занять и как пользоваться системой электронного голосования. Из 70 депутатов, которые вступят в должность 1 июля, переизбраны 13, большинство из них — от Демократической революционной партии.</p>
    <div class="list">
    <ul>
    <span>Независимая скамья Vamos</span>
    <li>Аугусто Паласиос (Чирики 4-1)</li>
    <li>Джонатан Вега (Чирики 4-5)</li>
    <li>Джанин Прадо (Верагуас 9-1)</li>
    <li>Мигель Анхель Кампос (Верагуас 9-1)</li>
    <li> Карлос Салданья (Чирики 4-1)</li>
    <li>Ленин А. Улате (Панама-Вест 13-1)</li>
    <li>Мануэль Ченг Пеньяльба (Панама-Вест 13-1)</li>
    <li>Бетсераи Ричард (Панама 8-6)</li>
    <li>Мануэль Саманиего (Панама 8-6)</li>
    <li>Нефтали Самора (Панама 8-5)</li>
    <li>Хорхе Гонсалес (Панама 8-5)</li>
    <li> Ямирелиз Чонг (Колон 3-1)</li>
    <li>Роберто Суньига (Панама 8-4)</li>
    <li>Хорхе Блуаз Иглесиас (Панама 8-4)</li>
    <li> Уокерия Чандлер Д'Орси (Панама 8-3)</li>
    <li>Полетт Томас (Панама 8-3)</li>
    <li>Эдуардо Гайтан (Панама 8-2)</li>
    <li> Александра Бренес (Панама 8-2)</li>
    <li> Луис «Лучо» Дюк (Панама 8-2)</li>
    <li> Ярелис Родригес (Панама 8-2)</li>
  </ul>
<ul>
  <span>Достижение целей партии</span>
  <li>Рональд де Грасия («Лос-Сантос» 7–2)</li>
  <li>Джамис Акоста (Чирики 4-1)</li>
  <li>Виктор де Жезус («Коламбус» 3–1)</li>
  <li>Рохелио Ревелло (Колон 3-1)</li>
  <li>Ширли Кастаньедас (Панама-Вест 13-1)</li>
  <li>Алайн Седеньо (Панама 8-6)</li>
  <li> Серхио «Челло» Гальвес (Панама 8-3)</li>
  <li>Томас Бенавидес (Верагуас 9-2)</li>
  <li>Луис Эдуардо Камачо «Верный друг» (круг 8-2)</li>
  <li>Дана Кастанеда (Кокле 2-3)</li>
  <li>Ариэль Валларино (Панама 8-5)</li>
  <li>Юзайда Марин (Панама-Вест 13-4)</li>
  <li>Лилия Батиста (Панама Вест 13-4)</li>
</ul>
  <ul>
    <span>Демократическая революционная партия</span>
    <li>Флор Бренес (Гуна Яла 10-1)</li>
    <li>  Маркос Кастильеро (Эррера 6-3)</li>
    <li> Хайме Варгас (Дарьен 5-2)</li>
    <li> Аркезио Ариас (Гуна Яла 10-2)</li>
    <li> Хайро «Болота» Салазар (Колон 3-1)</li>
    <li> Рафаэль Бьюкенен (Панама 8-6)</li>
    <li>Хавьер Сукре (Панама 8-4)</li>
    <li>Криспиано Адамес (Панама 8-3)</li>
    <li>Рауль Пинеда (Панама 8-2)</li>
    <li>Бенисио Робинсон (Бокас дель Торо)</li>
    <li>Нестор «Тин» Гуардиа (Кокле 2-1)</li>
    <li> Никсон Андраде (Нгабе Бугл 12-2)</li>
    <li>Нельсон Джексон Пальма (Колон 3–2)</li>
  </ul>
    <ul>
      <span>Панамская партия</span>
      <li>Хосе Луис «Попи» Варела (Парита 6-2)</li>
      <li>Хорхе Эррера (Кокле 2-4)</li>
      <li> Рикардо «Виджил» Лопес (Чирики 4-3)</li>
      <li> Роберто Арчибольд "Чобра" (Нгабе Бугл 12-1)</li>
      <li> Ариана Коба (Чирики 4-3)</li>
      <li>Медин Хименес Питти (Чирики 4-4)</li>
      <li>Франсиско «Панчито» Бреа (Верагуас 9-3)</li>
      <li>Эдвин Вергара (Панама Вест 13-3)</li>
    </ul>
    <ul>
      <span>Демократические перемены</span>
      <li>Йесика Ромеро (Бокас дель Торо (1-1)</li>
      <li> Карлос Тито Афу (Лас Таблас 7-1)</li>
      <li>Мануэль Коэн Салерно (Читре 6-1)</li>
      <li>Дидиано Пинилья Риос (Верагуас 9-4)</li>
      <li>Орландо Карраскилья (Кокле 2-2)</li>
      <li>Хулио де ла Гуардиа (Кокле 2-1)</li>
      <li>Эдуардо Васкес (Панама-Вест 13-2)</li>
      <li> Гертрудис «Туле» Родригес (Нгабе Бьюгл 12-3)</li>
    </ul>
    <ul>
      <span>Движение «Другой Путь»</span>
      <li>Грейс Эрнандес (Панама-Вест 8-4)</li>
      <li> Эрнесто Седеньо (Панама-Вест 8-4)</li>
      <li>Хосе Перес Барбони (Панама 8-3)</li>
    </ul>
    <ul>
      <span>Партия Альянса</span>
      <li>Осман Гомес (Чирики 4-2)</li>
      <li>Джони Гевара (Панама 8-1)</li>
    </ul>
    <ul>
      <span>Народная партия</span>
      <li>Элиесер Кастреллон (Чирики 4–6)</li>
      <li> Пэтси Ли Рентерия (Панама-Вест 13-4)</li>
    </ul>
    <ul>
      <span>Молирена</span>
      <li>Айзек Москера (Дарьен 5-1)</li>
    </ul>
    </div>
  </div>
</div>
