<div class="unwatched-content">
  <h1>Если вы пропустили это</h1>
  <div class="nav-contend">
    <div class="media">
    <nav class="nav1">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Хорхе Блуазе: Политические партии объединяются, чтобы противостоять предложениям независимой фракции.
        <div class="video-media">
          <svg icon="video" class="video-tag"></svg>
        </div>
      </a>
    </nav>
    </div>
    <nav class="nav2">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Партийные группы объединят свои ряды, чтобы возглавить важнейшие комитеты Ассамблеи.
      </a>
    </nav>
    <nav class="nav3">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Политические партии становятся активными и стремятся привлечь больше сторонников.
      </a>
    </nav>
    <nav class="nav4">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Пойдут ли на риск PRD и Vamos?: Неизбежное голосование по формированию бюджетного комитета
      </a>
    </nav>
    <div class="media">
    <nav class="nav5">
      <a
        [routerLink]="['/info']" routerLinkActive="active" >Хавьер Сукре о комитетах Ассамблеи: «PRD заинтересована только в том, чтобы получить то, что нам причитается».
        <div class="video-media">
          <svg icon="video" class="video-tag"></svg>
        </div>
      </a>
    </nav>
    </div>
</div>
</div>
