<div class="main-page-header">
  <div class="image-zone">
    <img src="/img/main-page.png" class="nav-img">
  </div>
  <div class="nav-zone">
<nav>
  <a
    [routerLink]="['/info']" routerLinkActive="active">Si Fuera Presidente</a>
</nav>
<nav>
  <a
    [routerLink]="['/login']" routerLinkActive="active">Reto Mercado</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">Carrera por la Asamblea</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">Así Es</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">Debates</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">Radar</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">De Frente</a>
</nav>
<nav>
  <a
    [routerLink]="['/order']" routerLinkActive="active">Caras Nuevas</a>
</nav>
</div>
</div>
