<div class="sticky-header">
  <nav>
    <a
      [routerLink]="['/info']" routerLinkActive="active">Últimas noticias</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/login']" routerLinkActive="active"> Caja de Seguro Social</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active">José Raúl Mulino</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active">Cónclave</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active">Ifarhu </a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active">Canal de Panamá</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active"> Donald Trump</a>
  </nav>
  <nav>
    <a
      [routerLink]="['/order']" routerLinkActive="active"> Empleos en Panamá</a>
  </nav>
</div>
